@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Silkscreen&family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --font-quantico: 'Quantico', sans-serif;
  --font-silkscreen: 'Silkscreen', sans-serif;
  --font-press-start: 'Press Start 2P', sans-serif;

  --color-slate-blue: #b2ced3;
  --color-mint-white: #f0faf9;
  --color-powder-blue: #d0e0e3;
  --color-cream: #fff8e4;
  --color-yellow: #ffda67;
  --color-royal-blue: #345ca1;
  --color-light-green: #93c47d;
  --color-green: #6aa84f;
  --color-salmon: #dd7e6b;
  --color-dark-gray: #434343;
}